<main class="auth auth-floated">
    <!-- .auth-announcement -->
    <div id="announcement" class="auth-announcement" style="background-image: url(assets/img/support2.jpg);">
       <div class="announcement-body">
         <h2 class="announcement-title"> To Prepare for an Automated Future Banking System </h2><a class="btn btn-warning"><i class="fa fa-fw fa-angle-right"></i> Check Out Now</a>
       </div>
     <canvas class="particles-js-canvas-el" width="1545" height="635" style="width: 100%; height: 100%;"></canvas></div><!-- /.auth-announcement -->
     <!-- form -->
     <form class="auth-form">
       <div >
         <div >
           <img class="rounded" src="assets/apple-touch-icon.png" alt="" height="72">
         </div>
         <h1 class="h3"> Register </h1>
       </div>
       <p class="text-left mb-2"> Already have an account? <a routerLink="">Login</a>
       </p>
       <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Surname</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">FirstName</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">MiddleName</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Matriculation Number</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Department</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Email</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Phone</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
   
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Level</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Unit</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Password</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
     <div class="form-group">
        <label class="d-block text-left" for="tfSmall">Confirm Password</label> 
        <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="tfSmall">
     </div>
    
       <div class="form-group mb-2">
         <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
       </div>
     
     </form>
  
 </main>
 
